* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
ul, dl, ol, li{
    list-style: none;
}
input:focus {
    outline: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none; margin: 0;
}

