#PORTPOLIO3 {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/bg-dr.jpg');
    background-size: cover;
    background-position: bottom center;
    position: relative;
}
.container{
    width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}
.dr-today {
    position: absolute;
    left: 50px;
    top: 150px;
    height: fit-content;
    background-color: #fff;
    border-radius: 25px;
    width: 600px;
}
.dr-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0;
}
.dr-list {
    width: 80%;
    margin: 0 10%;
    height: 700px;
    overflow: scroll;
}
.dr-list::-webkit-scrollbar{
    display: none;
}
.dr-list-routine {
    position: relative;
    font-size: 1.5rem;
    padding: 10px 0;
    border-bottom: 2px solid black;
    padding-left: 20px;
}
.dr-routine-check {
    position: absolute;
    top: 22px;
    left: 0;
    display: none;
}
.dr-routine-connect {
    margin: 0 10px;   
}
.dr-routine-rout {
    margin-left: 10px;
}
.dr-today input{
    position: absolute;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    padding: 10px;
}
.dr-today input:hover {
    cursor: pointer;
    color : #3298cb;
}
.dr-add-btn {
    top: 20px;
    right: 80px;
}
.dr-del-btn {
    top: 18px; right: 40px;
}
.dr-del-box {
    position: absolute;
    right: 20px;
    top: 60px;
    display: none;
}
.dr-del-box span {
    padding-bottom: 3px;
}
.dr-del-box span:hover {
    cursor: pointer;
    color : #3298cb;
    border-bottom: 2px solid #3298cb;
}
.dr-del-explain {
    position: absolute;
    top: 15px;
    right: 9999px;
    font-size: 1rem;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
}
.dr-del-btn:hover + .dr-del-explain {
    right: -80px;
}
.dr-add-explain {
    position: absolute;
    top: -9999px;
    right: 50px;
    font-size: 1rem;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
}
.dr-add-btn:hover + .dr-add-explain {
    top: -40px;
}

/* 일정 추가하기 */
.dr-add-box {
    position: absolute;
    left: 800px;
    top: 700px;
    padding: 50px 30px 20px;
    background-color: rgba(255,255,0,0.5);
    border-radius: 25px;
    display: none;
    opacity: 0;
    transition: opacity ease 0.5s;
}
.dr-active {
    opacity: 1;
}
.dr-box-btns{
    text-align: right;
    margin-top: 10px;
}
.dr-box-btn {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin-left: 10px;
    padding-bottom: 5px;
}
.dr-box-btn:hover {
    cursor: pointer;
    font-weight: bold;
    color: #3298cb;
    border-bottom: 2px solid #3298cb;
}
.dr-add-each {
    position: relative;
}
.dr-add-each input {
    padding: 0 5px;
}
.dr-each-explain {
    position: absolute;
    left: 0;
    top: -25px;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 0.8rem;
}
.dr-add-routine {
    font-size: 1rem;
    padding: 0 5px;
}

/* 반응형 디자인 */
@media (max-width : 1920px){
    .container{
        width: 1280px;
    }
    .dr-today{
        width: 500px;
    }
    .dr-list{
        height: 600px;
    }
    .dr-add-box{
        left: 700px;
    }
}
@media (max-width : 1280px){
    .container{
        width: 960px;
    }
    .dr-add-explain {
        right: 55px;
    }
    
    /* 일정 추가하기 */
    .dr-add-box {
        top: 150px;
        left: 600px;
    }
    .dr-active {
        opacity: 1;
    }
    .dr-box-btns{
        text-align: right;
        margin-top: 10px;
    }
    .dr-box-btn {
        border: none;
        background-color: transparent;
        font-size: 1rem;
        margin-left: 10px;
        padding-bottom: 5px;
    }
    .dr-box-btn:hover {
        cursor: pointer;
        font-weight: bold;
        color: #3298cb;
        border-bottom: 2px solid #3298cb;
    }
    .dr-add-each {
        position: relative;
    }
    .dr-add-each input {
        padding: 0 5px;
    }
    .dr-each-explain {
        position: absolute;
        left: 0;
        top: -25px;
        color: rgba(0,0,0,0.5);
        font-weight: bold;
        font-size: 0.8rem;
    }
    .dr-add-routine {
        font-size: 1rem;
        padding: 0 5px;
    }
}
@media (max-width : 960px){
    .container{
        width: 720px;
    }
    .dr-today {
        left: 110px;
        width: 500px;
        top: 100px;
    }
    .dr-list{
        height: 600px;
    }
    .dr-add-box {
        left: 110px;
        top: 800px;
    }
}
@media (max-width : 720px){
    .container{
        width: 480px;
    }
    .dr-today{
        left: 10px;
        width: 460px;
        top: 50px;
    }
    .dr-title{
        font-size: 1.1rem;
    }
    .dr-list-routine{
        font-size: 1rem;
    }
    .dr-routine-check{
        top: 15px;
    }
    .dr-list{
        height: 400px;
    }
    .dr-add-box{
        left: 10px;
        top: 550px;
    }

}
@media (max-width : 480px){
    .container{
        width: 360px;
    }
    .dr-today{
        left: 5px;
        width: 350px;
    }
    .dr-title {
        font-size: 1rem;
    }
    .dr-add-box{
        left: 5px;
    }
    .dr-del-btn:hover + .dr-del-explain {
        top: -40px;
        right: 10px;
    }
}